<button (click)="toggleProductDetail()" >Click</button>
<div class="products--grid">
  <app-product [product]="product" *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)" (showProduct)="onShowDetail($event)">
  </app-product>
</div>
<div class="product-detail" [class.active]="showProductDetail" >
  <div *ngIf="productChosen" >
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <owl-carousel-o >
      <ng-template carouselSlide *ngFor="let img of productChosen.images" >
        <img [src]="img" alt="">
      </ng-template>
    </owl-carousel-o>
    <p>{{productChosen.description}}</p>
  </div>
</div>



<!--
<p>
  La cantidad de productos agregador es: {{ myShoppingCart.length }}
</p>
<p>
  Total: {{total}}
</p>
<p>
  Today: {{ today | date}}
</p>
<p>
  Today: {{ date | timeAgo}}
</p>
<p>
  Date: {{ date | date}}
</p>
<p>
  {{'hOlAA JJAaa YeaHH' | uppercase}}
</p>
 -->
